* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  display: grid;
  background-color: #C4C4C4;
  align-content: center;
  justify-content: center;
}

/* Games Button */

.games {
  background-color: white;
  position: absolute;
  top: 46%;
  left: 0;
  width: 250px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 black;
  transition: box-shadow 0.5s, color 0.5s;
  z-index: 4;
}

.games:hover {
  color: white;
  box-shadow: inset 250px 0 1px 0 black;
}

/* Contact Me Button */

.contact-me {
  background-color: white;
  position: absolute;
  bottom: 46%;
  right: 0;
  width: 250px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 black;
  transition: box-shadow 0.5s, color 0.5s;
}

.contact-me:hover {
  color: white;
  box-shadow: inset -250px 0 1px 0 black;
}
