* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: max-content 1fr;
}

/* Logo */

.logo {
  height: 160px;
  width: 175px;
  background-color: #101010;
  grid-row: 1;
}

/* Nav Bar */

.nav {
  width: 175px;
  grid-area: 1 / 1;
  font-size: 1.5em;
  text-align: center;
  background-color: #101010;
  display: grid;
}

.links {
  grid-row: 2;
}

li {
  color: white;
  box-shadow: inset 0 0 0 0 #EEEEEE;
  transition: box-shadow 0.5s, color 0.5s;
}

li:hover {
  box-shadow: inset -250px 0 0 0 #EEEEEE;
  color: black;
}

.github {
  background-color: #850000;
}

.icons {
  grid-row: 3;
  color: white;
  align-self: center;
}

/* Link Style */

a {
  height: 100%;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 10px 0;
}

li a {
  display: block;
}

/* Main Content */

.main {
  grid-column: 2;
  display: grid;
  grid-template: max-content 1fr / 1fr 1fr 1fr;
  background-color: #EEEEEE;
}

/* Images */

.quark, .doughnut, .chair {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.5s;
  grid-row: 2;
}

.doughnut {
    height: 100%;
}

.quark:hover, .doughnut:hover, .chair:hover {
  filter: grayscale(0%);
}

.image-1, .image-3 {
  align-self: end;
}

/* Text */

.intro {
  grid-area: 1 / 1 / 1 / 4;
  background-color: #EEEEEE;
}

.title {
  margin: 10px;
  font-size: 3vw;
  color: #202020;
  font-family: 'Zilla Slab Highlight', cursive;
}

.text-1, .text-2, .text-3 {
  font-size: 1vw;
  line-height: 1.5em;
  padding: 20px;
  display: grid;
}

.text-1, .text-3 {
  background-color: #DDDDDD;
}

.text-2 {
  grid-template-rows: max-content max-content 1fr;
  background-color: #CCCCCC;
}

.image-2-text {
  align-self: end;
  margin-bottom: 10px;
}

/* Badge */

.badge {
  background-color: #850000;
  color: #FFFFFF;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  align-self: end;
}
