* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: max-content 1fr;
}

/* Logo */

.logo {
  height: 160px;
  width: 175px;
  background-color: #101010;
  grid-row: 1;
}

/* Nav Bar */

.nav {
  width: 175px;
  grid-area: 1 / 1;
  font-size: 1.5em;
  text-align: center;
  background-color: #101010;
  display: grid;
}

.links {
  grid-row: 2;
}

li {
  padding: 10px 0;
  color: white;
  box-shadow: inset 0 0 0 0 #EEEEEE;
  transition: box-shadow 0.5s, color 0.5s;
}

li:hover {
  box-shadow: inset -250px 0 0 0 #EEEEEE;
  color: black;
}

.github {
  background-color: #950000;
}

.icons {
  grid-row: 3;
  color: white;
  align-self: center;
}

/* Link Style */

a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

li a {
  display: block;
}

/* Main Content */

.main {
  grid-column: 2;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.quark {
  grid-area: 1 / 1;
  width: 50%;
}

.doughnut {
  grid-area: 1 / 2;
  width: 50%;
}

.chair {
  grid-area: 2 / 2;
  width: 50%;
}
