* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, .about-me {
  height: 100%;
  width: 100%;
}

.about-me {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
}

/* Main Content */

.main {
  height: 100%;
  display: grid;
  line-height: 1.5em;
}

.tech {
  padding: 20px;
  background-color: #C4C4C4;
}

.before-tech {
  padding: 20px;
  background-color: #AAAAAA;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  align-self: end;
}

/* Home Button */

.home {
  width: 250px;
  padding: 20px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 black;
  transition: box-shadow 0.5s, color 0.5s;
}

.home:hover {
  color: white;
  box-shadow: inset 250px 0 1px 0 black;
}

/* Projects Button */

.projects {
  width: 250px;
  padding: 20px;
  text-align: center;
  align-self: center;
  justify-self: end;
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 black;
  transition: box-shadow 0.5s, color 0.5s;
}

.projects:hover {
  color: white;
  box-shadow: inset -250px 0 0 0 black;
}
