* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template: max-content 1fr / max-content 1fr;
}

/* Logo */

.logo {
  height: 225px;
  width: 250px;
  background-color: #101010;
}

/* Nav Bar */

.nav {
  width: 250px;
  grid-area: 2 / 1;
  font-size: 2em;
  text-align: right;
  background-color: #101010;
}

li {
  padding: 20px 0;
  color: white;
  box-shadow: inset 0 0 0 0 #EEEEEE;
  transition: all 0.5s;
}

li:hover {
  box-shadow: inset -250px 0 0 0 #EEEEEE;
  color: black;
}

.github {
  background-color: #950000;
}

/* Link Style */

a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  padding-right: 20px
}

/* Main Content */

.main {
  grid-area: 1 / 2 / 3 / 2;
  height: 100%;
  display: grid;
  line-height: 1.5em;
}

.tech {
  padding: 20px;
  background-color: #C4C4C4;
}

.before-tech {
  padding: 20px;
  background-color: #AAAAAA;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  align-self: end;
}
