* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

html, body, .games {
  height: 100%;
  width: 100%;
}

.games {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* JavaScript */

.javascript {
  padding: 20px;
  background-color: #C4C4C4;
  width: 100%;
  justify-self: end;
  transition: width 0.5s ease-in;
}

.javascript-text {
  margin-top: 20px;
  line-height: 1.5em;
  opacity: 0;
  transition: opacity 0.5s;
}

.javascript:hover {
  width: 140%;
}

.javascript:hover .javascript-text {
  opacity: 1;
}

/* Unity */

.unity {
  padding: 20px;
  background-color: #AAAAAA;
  width: 100%;
  transition: width 0.5s ease-in;
}

.unity-text {
  margin-top: 20px;
  line-height: 1.5em;
  transition: opacity 0.5s;
  opacity: 0;
}

.unity:hover {
  width: 140%;
  z-index: 3;
}

.unity:hover .unity-text {
  opacity: 100;
}

/* Projects Button */

.projects {
  background-color: white;
  position: absolute;
  top: 46%;
  left: 0;
  width: 250px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 black;
  transition: box-shadow 0.5s, color 0.5s;
  z-index: 4;
}

.projects:hover {
  color: white;
  box-shadow: inset 250px 0 1px 0 black;
}

/* 3D Button */

.ThD {
  background-color: white;
  position: absolute;
  bottom: 46%;
  right: 0;
  width: 250px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 black;
  transition: box-shadow 0.5s, color 0.5s;
}

.ThD:hover {
  color: white;
  box-shadow: inset -250px 0 1px 0 black;
}
