body {
  margin: 0 10px;
  padding: 0;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
  min-width: 950px
}

header {
  margin-top: 10px;
  padding: 20px;
  height: 100px;
  background-color: black;
  color: white;
}

main {
  border: 5px solid black;
  border-radius: 3px;
  margin: 250px auto;
  width: 950px;
  padding: 10px;
}

hr {
  border: 1px solid;
  width: 500px;
}

footer {
  margin-bottom: 10px;
  padding: 20px;
  height: 100px;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  color: #C4C4C4;
}
