body {
  margin: 0 10px;
  padding: 0;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}

header {
  margin-top: 10px;
  padding: 25px;
  height: 100px;
  background-color: black;
  color: white;
}

main {
  border: 5px solid black;
  border-radius: 0px;
  margin: 240px auto;
  padding: 10px;
  min-width: 900px
}

hr {
  border: 1px solid;
  margin: 0 500px;
}

footer {
  height: 100px;
  background-color: black;
  color: white;
  margin: 10px auto;
  padding: 25px;
}

a {
  text-decoration: none;
}
